<div class="pure-u-1-1">
    <div class="header">TABS</div>
</div>
<div class="pure-u-1-3">

    <div class="sidebar">
        <div class="pure-menu pure-menu-open">
            <ul>
                <li><a href="#" class="tab_link" data-id="1">TAB #1</a></li>
                <li><a href="#" class="tab_link" data-id="2">TAB #2</a></li>
                <li><a href="#" class="tab_link" data-id="3">TAB #3</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="pure-u-2-3">
    <div class="tabs">
        <div class="tab visible" data-box='1'>
            <h2>TAB #1</h2>
            <img src="img/senya_1.png">
            <p>Все модули Pure построены на основе Normalize.css. Это основополагающий слой, сохраняющий согласованность стилей и кросбраузерность. В Pure используется Normalize v1.x, так как он поддерживает старые версии Internet Explorer. Normalize.css можно использовать и отдельно без остальных модулей Pure, используя наш CDN. Для этого, добавьте элемент <link> на страницу:</p>
            <p>Все модули Pure построены на основе Normalize.css. Это основополагающий слой, сохраняющий согласованность стилей и кросбраузерность. В Pure используется Normalize v1.x, так как он поддерживает старые версии Internet Explorer. Normalize.css можно использовать и отдельно без остальных модулей Pure, используя наш CDN. Для этого, добавьте элемент <link> на страницу:</p>
            <p>Основу адаптивных сеток Pure - задаёт родительский блок. Для него добавляется имя класса pure-g-r (где "r" - значает адаптивность). Вы можете всё время использовать pure-g-r вместо pure-g и всё будетработать, как надо. Все дочернии элементы с классами pure-u-*-*, будут автоматически адаптироаться и сжиматься до 100%-ой ширины блока при изменении размера экрана устройства до 767px или меньше.</p>
        </div>
        <div class="tab" data-box='2'>
            <h2>TAB #2</h2>
            <img src="img/senya_2.png">
            <p>Основу адаптивных сеток Pure - задаёт родительский блок. Для него добавляется имя класса pure-g-r (где "r" - значает адаптивность). Вы можете всё время использовать pure-g-r вместо pure-g и всё будетработать, как надо. Все дочернии элементы с классами pure-u-*-*, будут автоматически адаптироаться и сжиматься до 100%-ой ширины блока при изменении размера экрана устройства до 767px или меньше.</p>
            <p>Normalize.css является отличной отправной точкой для дизайна вашего проекта, но некоторые HTML-элементы, такие как формы, таблицы и меню требуют больше стилей, чем даёт Normalize.
                В Pure заданы свои собственные стили для этих элементов с сохранением минимального размера и возможности самостоятельной настройки для своего сайта или требований приложений. Ознакомьтесь с CSS для Форм, Таблиц и Меню.</p>
            <p>Основу адаптивных сеток Pure - задаёт родительский блок. Для него добавляется имя класса pure-g-r (где "r" - значает адаптивность). Вы можете всё время использовать pure-g-r вместо pure-g и всё будетработать, как надо. Все дочернии элементы с классами pure-u-*-*, будут автоматически адаптироаться и сжиматься до 100%-ой ширины блока при изменении размера экрана устройства до 767px или меньше.</p>
        </div>
        <div class="tab" data-box='3'>
            <h2>TAB #3</h2>
            <img src="img/senya_3.png">
            <p>Все модули Pure построены на основе Normalize.css. Это основополагающий слой, сохраняющий согласованность стилей и кросбраузерность. В Pure используется Normalize v1.x, так как он поддерживает старые версии Internet Explorer. Normalize.css можно использовать и отдельно без остальных модулей Pure, используя наш CDN. Для этого, добавьте элемент <link> на страницу:</p>
            <p>Основу адаптивных сеток Pure - задаёт родительский блок. Для него добавляется имя класса pure-g-r (где "r" - значает адаптивность). Вы можете всё время использовать pure-g-r вместо pure-g и всё будетработать, как надо. Все дочернии элементы с классами pure-u-*-*, будут автоматически адаптироаться и сжиматься до 100%-ой ширины блока при изменении размера экрана устройства до 767px или меньше.</p>
            <p>Первый сниппет, что приведён ниже, показывает, как адаются регулярные сетки в Pure. Эта сетка неадаптивная. Колонки в ней всегда будут шириной в одну треть от ширины экрана, вне зависимости от его размера. Во втором сниппете имя класса изменено с pure-g на pure-g-r, в результате чего, при изменении размера окна браузера до 767px (по умолчанию) и ниже, колонки превращаются в строки и меняют свой размер с одной трети до 100% ширины сетки.</p>
        </div>
    </div>
</div>